.card{
    border-radius: 10px;
    background-color: lightgrey;
    margin-top: 10px;
    border-top: 10px
}

.saved-list{
    border-radius: 15px;
    background-color: rgb(235, 212, 231);
    border-top: 10px;
    margin-top: 10px;
}

.deleteBook {
    border-radius: 5px;
    margin-left: 10px
}

.viewBook {
    border-radius: 5px;
    margin-left: 5px;
}

    .card img{
        max-width:100%;
      }
 
