.card{
    border-radius: 10px;
    background-color: lightgrey
}

.search-list{
    border-radius: 15px;
    background-color: rgb(214, 231, 203)
}

.saveBook {
    border-radius: 5px;
    margin-left: 10px
}

.viewBook {
    border-radius: 5px;
    margin-left: 5px;
}

.urlimg {
    width: 400px

}